<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
    
    
    <!-- 配置文件列表 -->
	<util:list id="configList" value-type="java.lang.String">
	    <value>/test.conf</value>
	     <value>/test.properties</value>
	</util:list>
	
	<bean id="propertiesUtil" class="com.snow.www.config.PropertiesUtil" init-method="init">
		<property name="fileEncoding" value="UTF-8" />
		<property name="configList" ref="configList" />
	</bean>
</beans>